
/* #2b3824 */

.bg-dark {
    background-color: #3d6428 !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-link {
    color: rgb(255 255 255 / 98%);
}

.nav-link.active {
    color: #fff; /* Change to your desired color */
    background-color: #333; /* Change to your desired background color */
    /* border-radius: 5px; Optional */
  }
  